header {
    height: 30vh;
    width: 100%;
    background-image: url("../img/wraper.png");
    background-position: center;
    background-size: cover;  
}

body {
    background-color: #272B30;
    h3,span,p,a{
        color: white;
        font-family: "Comfortaa", cursive;
    }
    
}

nav {
  background-color: #3A497B;
    top: 0 !important;
    position: sticky !important;
    width: 75%;

}

.nav-bg {
    background-color: var(--main-color);

}

.nav-link {
    transition: all 0.3s;
    color: white;
}

.nav-link:hover {
    color: #0099CC;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #0099CC;
}

.main-sec {
    background-color: var(--main-color);
}

.box-game {
    border: 1px solid black;
    
    cursor: pointer;
    transition: all 0.5s;

}

.box-game:hover {
    transform: scale(1.03);
}

.main-img {
    opacity: 0.6;
    transition: all 0.8s;
}

.box-game:hover .main-img {
    opacity: 1;
}

.free {
    width: 60px;
    height: 20px;
    background-color: var(--nav-color);
    transition: all 0.4s;

}

.box-game:hover .free {
    background-color: #0D6EFD;
}

.cont-text {
    color: var(--secondary-color);
}

.footer-box {
    width: 85px;
    height: 25px;
    background-color: var(--secondary-color);
    font-size: 13px;
}

#close {
    font-size: 30px;
    color: #B4B5B6;
}

.game-details {
    background-color: #27282B;
}

.bg-span {
    background-color: #0DCAF0;
    padding: 5px;
    font-size: 15px;
}
.game-details {

    font-family: "Comfortaa", cursive;
    p,h3,span{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    h1{
        font-size: 28px;
        font-weight: 500;
        line-height: 24px;
    }
}

.loading {
    background-color: rgba(0, 0, 0, 0.5);
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #514d4d;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #262A2F;
    border-radius: 10px;
}

@media(max-width:767px) {
    nav {
        width: 100%;
    }

    #details {
        height: 170vh;
    }
    
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}